p#demo {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    color: #ffffff !important;
    font-family: "Alata", Helvetica, Arial, Lucida, sans-serif;
}
/* #miContent{
    padding: 30%;
    margin: 20%;
} */
#miContainer{
    padding-left: 10%;
    padding-right: 10%;
}
.miFooter {
    border-radius: 0 0 40px 40px;
}
#miFooter {
    border-radius: 0 0 40px 40px;
}
.botonVisible{
    display: none;
}
.CardFooter {
    background-color: white;
    border-radius: 0 0 40px 40px;
}
.tituloEvento {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    /* color: #bd2738 !important; */
    text-shadow: 0.08em 0.08em 0.08em rgba(255, 255, 255, 0.3);
}
.imagen-container {
    max-width: 500px;
    width: 100%;
    height: auto;
}
.cardEvento {
    font-weight: 700;
    font-size: 15px;
    font-family:
        Open Sans,
        Arial,
        sans-serif;
    color: black !important;
    text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 0.4);
}
.date_content h2 {
    font-family: "Alata", Helvetica, Arial, Lucida, sans-serif;
    font-size: 20px;
    color: #ffffff !important;
    letter-spacing: 6px;

    text-align: center;
    text-shadow: 0.08em 0.08em 0.08em rgba(0, 0, 0, 0.4);
}
.date_content {
    /* background-color: #bd2738; */
    /* background-color: #4c83c3; */
    background-color: #bd2738;
}
.footer_content{
    background-color: white;
}
.footer_content button {
    font-size: 20px;
    font-weight: 500;
    padding: .3em 1em;
    line-height: 1.7em!important;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid;
    color: #FFFFFF!important;
    border-width: 0px!important;
    border-radius: 66px;
    font-style: italic!important;
    background-color: #BD2738;
}
.footer_content .h3{
    font-weight: 600;
    font-size: 45px;
    color: #EE6F2D!important;
}
.polygono1 {
    background-color: #bd2738;
    width: 300px;
    height: 300px;
    clip-path: polygon(0 0, 0 100%, 100% 0);
}
.polygono2 {
    background-color: #ffd51d;
    width: 300px;
    height: 300px;
    clip-path: polygon(100% 0, 0 56%, 100% 100%);
}
.polygono3 {
    background-color: #4a82c3;
    width: 300px;
    height: 300px;
    clip-path: polygon(0 0, 0 100%, 100% 54%);
}
.polygono4 {
    width: 10px;
    height: 50px;
}



/* @media (max-width: 978px) {
    .container {
        padding: 0;
        margin: 0;
    }
    body,
    html {
        padding: 0;
        margin: 0;
    }
    .p-5 {
        padding: 0;
    }
    .m-5 {
        margin: 0;
    }

    body {
        padding: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
} */
