.close-button {
    cursor: pointer;
    padding-left: 10px;
    font-weight: bold;
}
.recipient{
    display: flex;

    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#recipient-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
