#fondotransparente{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: gray; 
    opacity:0.3;
}
#mostrarMap{
    top:10px; 
    left:10px;
}
.btnDel{
    padding: 0px;
    top:0px; 
    left:0px;
    width:30px; 
    height:30px; 
    text-align:center;
    opacity: 0.9;
}
#titleUbicacion{
    font-size: 24px;
    font-weight: bold;
}
#autocomplete{
    width: 100%;
    height: 33px;
}
#contenedormap{
    border-radius:0px;
    padding: 20px;
    z-index: 2; 
    display:none; 
    width:100%; 
    height:100%; 
    background-color: white;
}
#mapa{
    width: 100%;
    height: 245px;
    background-color: aqua;
}
/* ------- */

#preview {
    position: relative;
    padding: 0px;
    padding-left: 15px;
    height: 45px;
    width: 30px;
}
#preview a {
    position: absolute;
    padding: 0px;
    margin-top: 11px;
    width: 35px;
    height: 35px;
    border-color: gray;
}
#preview2 {
    padding: 0px;
    padding-left: 6px;
    padding-right: 15px;
    height: 45px;
}
#file-info {
    margin-top: 11px;
    margin-bottom: 0px;
    padding: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    height: 35px;
    font-size: smaller;
    text-align: center;
    overflow: hidden;
}
#file-save {
    text-align: center;
    width: 100%;
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 22px;
}
input[type="file"] {
    position: absolute;
    visibility: hidden;
    width: 0;
    z-index: -9999;
}
#contenedor_bannerM{
    height:400px;
}

