@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #f0f0f0; 
    color: #333;
}

header {
    background-color: #3498db; 
    color: #fff; 
    padding: 10px;
}
.btn-primary {
    background-color: #3498db; 
    color: #fff;
    border-color: #3498db;
}
.box {
    height: 57px;
    width: 545px;
  }
  
  .box .rectangle {
    height: 65px;
    left: 0;
    position: fixed;
    top: 0;
    width: 553px;
  }
  .label {
    width: 387px;
    height: 14px;
  }
  
  .label .text-wrapper {
    position: fixed;
    width: 387px;
    top: 0;
    left: 0;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #91a4b7;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 14px;
    white-space: nowrap;
  }

.square-container {
  background-color: #61758A; 
  border-radius: 10px; 
  padding: 15px; 
  text-align: center;
  color: white; 
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #546e7a; 
}

/* Estilo para el contenido del formulario */
.formulario {
  background-color: #ffff; 
  padding: 20px;
  border-radius: 10px; 
  max-width: 400px; 
  width: 100%; 
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario select,
.formulario textarea {
  width: 100%; 
  margin-bottom: 10px;
}


.formulario h1 {
  color: #333; 
}


.formulario button {
  width: 100%; 
}
